:root{
    /* ===== Colors ===== */
    --body-color: #F4F6F7;
    --sidebar-color: #FFF;
    --primary-color: #695CFE;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;

    --primary-text-color: #163b61;
    --secondary-text-color: #0071ff;
}

.home{
    position: absolute;
    top: 0;
    top: 0;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    padding: 1.5rem;
    background-color: var(--primary-color-light);
    transition: var(--tran-05);
}
.home .text{
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 60px;
}

.sidebar.close ~ .home{
    left: 88px;
    height: 100vh;
    width: calc(100% - 88px);
}

body{
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
    font-family: 'Tajawal', sans-serif;
}
